<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated er_peter_chen_extended -->
      <package
            uri="http://www.kybele.es/gmf/er_peter_chen_extended"
            class="er_peter_chen_extended.Er_peter_chen_extendedPackage"
            genModel="model/er_peter_chen_extended.genmodel"/>
   </extension>

</plugin>
